body {
  font-family: "Georgia", "Times New Roman", Times, serif;  
  font-size: 16px;
}

/*
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;  
}
p, div {
    font-family: "Times New Roman", Times, serif;  
}
*/